<div div class="flex items-center justify-center h-150" *ngIf="isWaiting else loadedSummaries">
  Loading summaries...
</div>

<ng-template #loadedSummaries>
  <div class="flex items-center justify-center h-150" *ngIf="hasSummaryError">
    There was an error loading your email summaries...
  </div>

  <div class="my-20 mx-20 sm:mx-10 md:mx-20 lg:mx-40 xl:mx-75 min-w-[500px] max-w-full" *ngIf="emails_with_summaries.length !== 0 else noSummaries">
    <ul class="space-y-4 m-10">
      <li id="email-{{ email.id }}" class="flex items-center space-x-4" *ngFor="let email of emails_with_summaries">
        <div class="flex border p-6 rounded-lg shadow-md hover:bg-gray-50 items-center">
          <label class="flex flex-col" for='email-{{ email.id }}'>
            <div class="flex justify-between items-center">
              <span class="text-left font-bold">FROM: {{ email.sender }}</span>
              <span class="text-right font-bold">{{ this.dateService.convertTimestampToReadableDate(email.internal_date) }}</span>
            </div>
            <div>
              {{ email.subject }} <br>
              <span class="text-gray-500" *ngIf="email.snippet">
                {{ email.snippet }}<br>
              </span>
              <div class="pt-4">
                <strong>Summary:</strong><br>
                {{ email.summary }}<br>
              </div>
              <div class="pt-4">
                <a class="text-blue-500" href="https://mail.google.com/mail/u/0/#inbox/{{ email.id }}" target="_blank">Original Email Link</a>
              </div>
            </div>
          </label>
        </div>
        <div class="relative">
          <div id="ellipsis-{{ email.id }}" (click)="toggleEmailOptionsDropdown(email.id)" class="text-xl cursor-pointer">
            ...
          </div>
          <div
            id="email-options-dropdown-{{ email.id }}"
            class="hidden absolute left-0 z-10 origin-top-left rounded-md bg-white py-1 ring-1 shadow-lg ring-black/5 focus:outline-none"
            role="menu"
            aria-orientation="vertical"
            aria-labelledby="user-menu-button"
            tabindex="-1"
          >
            <a (click)="saveEmailSummary(email.id)" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-50 cursor-pointer" role="menuitem" tabindex="-1" id="user-menu-item-0">Save</a>
            <a (click)="regenerateEmailSummary(email.id)" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-50 cursor-pointer" role="menuitem" tabindex="-1" id="user-menu-item-1">Regenerate</a>
            <a (click)="removeEmailSummary(email.id)" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-50 cursor-pointer" role="menuitem" tabindex="-1" id="user-menu-item-1">Remove</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <ng-template #noSummaries>
    <div class="flex items-center justify-center h-150">
      <h1 class="text-lg">No summaries available...</h1>
    </div>
  </ng-template>
</ng-template>
