<div div class="flex items-center justify-center h-150" *ngIf="summaries.length === 0 else loadedSummaries">
  Loading summaries...
</div>

<ng-template #loadedSummaries>
  <div class="flex items-center justify-center my-10 mx-30" *ngIf="hasSummaryError">
    There was an error loading your email summaries...
  </div>

  <div class="my-20 mx-20 sm:mx-10 md:mx-20 lg:mx-40 xl:mx-75 min-w-[500px] max-w-full">
    <ul class="space-y-4 m-10">
      <li class="border p-4 rounded-lg shadow-md hover:bg-gray-50" *ngFor="let summary of summaries">
        <p>{{ summary }}</p>
      </li>
    </ul>
  </div>
</ng-template>
