<div *ngIf="emails.length === 0">Loading emails...</div>

<div class="flex justify-center m-10">
  <div class="relative inline-block text-left">
    <div>
      <button (click)="toggleDateRangeMenu()" type="button" class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 shadow-xs ring-gray-300 ring-inset hover:bg-gray-50 cursor-pointer" id="menu-button" aria-expanded="true" aria-haspopup="true">
        Date Range
        <svg class="-mr-1 size-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
          <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
        </svg>
      </button>
    </div>
    <div class="absolute left-0 z-10 mt-2 w-full origin-top-left divide-y divide-gray-100 rounded-md bg-white ring-1 shadow-lg ring-black/5 focus:outline-hidden" [hidden]="isDateRangeMenuHidden" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
      <div class="py-1" role="none">
        <button value="1" (click)="setDateRangeFilter($event)" class="block text-left w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-50 cursor-pointer" role="menuitem" tabindex="-1" id="menu-item-0">Last 24 Hours</button>
        <button value="3" (click)="setDateRangeFilter($event)" class="block text-left w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-50 cursor-pointer" role="menuitem" tabindex="-1" id="menu-item-1">Last 3 Days</button>
        <button value="7" (click)="setDateRangeFilter($event)" class="block text-left w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-50 cursor-pointer" role="menuitem" tabindex="-1" id="menu-item-1">Last Week</button>
      </div>
      <div class="py-1" role="none">
        <button class="block text-left w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-50 cursor-pointer" role="menuitem" tabindex="-1" id="menu-item-6">Custom</button>
      </div>
    </div>
  </div>
</div>

<div class="w-1/2 m-auto">
  <ul class="space-y-4 m-10">
    <li *ngFor="let email of emails" class="border p-4 rounded-lg shadow-md">
      <div class="flex items-center">
        <input id='email-{{ email.id }}' type='checkbox' [value]="email.id" [(ngModel)]="selectedEmailIds[email.id]" 
          class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600 cursor-pointer">
        <label class="cursor-pointer ml-3" for='email-{{ email.id }}'>
          <strong>{{ email.sender }}</strong> - {{ email.subject }} ({{ email.internalDate }})
        </label>
      </div>
    </li>
  </ul>
</div>

<div class="flex justify-center cursor-pointer">
  <a (click)="sendEmailIds()" class="bg-blue-500 m-5 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Summarize</a>
</div>